*{
    text-transform: capitalize;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

h1, h3{
    text-align: center;
}

#formularioFiltros{
    display: flex;
    justify-content: center;
    align-items: center;
}